<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>469220731669-k40d380ijm3ojq1s7a4a2e9ha3mtc7hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469220731669-k40d380ijm3ojq1s7a4a2e9ha3mtc7hj</string>
	<key>API_KEY</key>
	<string>AIzaSyADutaOFhDqSAzIeK0DAVTi1Y6StQ_aBqs</string>
	<key>GCM_SENDER_ID</key>
	<string>469220731669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sha.Deveotion.com</string>
	<key>PROJECT_ID</key>
	<string>devotional-af3de</string>
	<key>STORAGE_BUCKET</key>
	<string>devotional-af3de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469220731669:ios:94abaac44ba6531b</string>
	<key>DATABASE_URL</key>
	<string>https://devotional-af3de.firebaseio.com</string>
</dict>
</plist>